.list {
    margin-bottom: 30px !important;

    .list_item {
        height: 180px;
        width: 120px;
        border-radius: 25px;
        background: #ccc;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            span {
                font-size: 16px;
                font-family: "楷体";
                margin-top: 5px;
                font-weight: 600;
                line-height: 20px;
            }

            .icon {
                font-size: 60px;
            }
        }

        .right {
            font-weight: 800;
            font-size: 60px;
            -webkit-text-stroke: 1px #000000;
            text-stroke: 1px #000000;
        }
    }
}

.operation-button {
    width: 100%;
    height: 100px;
    border-radius: 25px;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .icon {
        font-size: 60px;
    }

    span {
        font-family: "楷体";
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        margin-left: 20px;
    }
}